API_HOST=0.0.0.0
API_PORT=8080

MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=change_me
MYSQL_DATABASE=mitemperature

INSIDE_SENSOR_MAC=A4:C1:38:CF:B0:D6
OUTSIDE_SENSOR_MAC=A4:C1:38:D5:05:79
DARKIN_SENSOR_NAME=darkin

THERMAL_PRINTER_VID=0x0416
THERMAL_PRINTER_PID=0x5011
THERMAL_PRINT_WIDTH=400
